.DS_Store
*.env
.vscode/
Dockerfile

/target
/results
/test-apps
/plot
/nsight-compute
/benchmarks/debug
/.git
/lit

# saved docker images
/trace/*.tar*
/accelsim/*.tar*
**/*docker_temp*

# saved singularity images
**/*.scf
**/*.sif
**/*.simg

/debug
/notebooks
/debug_results
/debug.*
/debug*.*
*debug-trace
.ipynb_checkpoints
Pipfile.lock
# /Cargo.lock
cuda_*.run
/coverage
**/*.profraw
**/perf.data*
**/*.trace.json
**/flamegraph.svg

/accelsim/accel-sim-framework-dev-*/
/accelsim/upstream

/accelsim/*/gpu-simulator/build
/accelsim/*/gpu-simulator/bin
/accelsim/*/gpu-simulator/gpgpu-sim/build
/accelsim/*/gpu-simulator/gpgpu-sim/bin
/accelsim/*/gpu-simulator/gpgpu-sim/lib
/accelsim/*/gpu-simulator/gpgpu-sim/doc

/accelsim/*/gpu-simulator/env-setup/
/accelsim/*/gpu-simulator/gpu-app-collection/
/accelsim/*/gpu-simulator/hw_run/
/accelsim/*/gpu-simulator/sim_run_*
/accelsim/*/gpu-simulator/*.DS_Store*
/accelsim/*/gpu-simulator/*.csv
/accelsim/*/gpu-simulator/*.csv#
/accelsim/*/gpu-simulator/4.2/
/accelsim/*/gpu-simulator/gpucomputingsdk_4.2.9_linux.run
/accelsim/*/gpu-simulator/util/job_launching/*.txt
