.DS_Store
.env
.vscode/

/results
/notebooks
/debug_results
/target
/debug.*
/debug*.*
.ipynb_checkpoints
Pipfile.lock

# cuda installation files
cuda_*.run
nsight-compute/

# code coverage files
/coverage
**/*.profraw

# perf traces
**/perf.data*
**/bench.trace.json
**/flamegraph.svg
