.DS_Store
.env

/results
/debug_results
/target
/debug*.log
.ipynb_checkpoints
Pipfile.lock

# cuda installation files
cuda_*.run

# code coverage files
**/*.profraw
**/perf.data*
**/flamegraph.svg
/coverage
