.DS_Store
.env
.vscode/

/results
/notebooks
/debug_results
/target
/debug*.log
/debug.txt
.ipynb_checkpoints
Pipfile.lock

# cuda installation files
cuda_*.run

# code coverage files
**/*.profraw
**/perf.data*
**/flamegraph.svg
/coverage
