[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
plotly = "*"
psutil = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
pandas = "*"
wasabi = "*"
click = "*"
cxxfilt = "*"
humanize = "*"

# cuda utilities to compile and launch kernels on the fly
cuda-python = "*"

# cuassembler pre-requisites
sympy = "*"
pyelftools = "*"
# cuassembler = {editable = true, git = "https://github.com/cloudcores/CuAssembler"}

[dev-packages]
invoke = "*"
flake8 = "*"
black = "*"
jupyterlab = "*"
mypy = "*"
