[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
plotly = "*"
kaleido = "*"
psutil = "*"
matplotlib = "*"
pyqt5 = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
pandas = "*"
cxxfilt = "*"
humanize = "*"
bitarray = "*"
# SSH remote connections
paramiko = "*"
python-dotenv = "*"
scp = "*"
# CLI tools
tqdm = "*"
click = "*"
wasabi = "*"
clear = "*"
pyperclip = "*"
tk = "*"
# CUDA utilities to compile and launch kernels on the fly
# cuda-python = "*"
# cuassembler pre-requisites
sympy = "*"
pyelftools = "*"
# SAT
python-sat = {extras = ["aiger", "approxmc", "pblib"], version = "*"}
pycryptosat = "*"
logicmin = "*"
pyeda = "*"
pyarrow = "*"
Pygments = "*"
pathvalidate = "*"
sktime = "*"

[dev-packages]
invoke = "*"
flake8 = "*"
black = "*"
jupyterlab = "*"
# testing
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
mypy = "*"
tqdm = "*"
