[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
plotly = "*"
psutil = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
scikit-learn-extra = "*"
pandas = "*"
wasabi = "*"
click = "*"
cxxfilt = "*"
humanize = "*"

[dev-packages]
invoke = "*"
flake8 = "*"
black = "*"
jupyterlab = "*"
mypy = "*"
